@import "../../variable";

.todo-container {
  width: 100%;
  height: 100%;
  display: flex;

  .title {
    font-size: 2rem;
  }
  .content {
    flex: 1 1;
    padding: 5%;
  }
  .right-column {
    width: 100%;
    max-width: 350px;
  }
}

// seleted-todo

.selected-todo {
  background-color: $bg-rightGray;
  width: 100%;
  height: 100%;
  padding: 1em;
  .todo-box {
    background-color: white;
    padding: 1em;
    border: 1px solid $border-gray;
    .todo-name {
    }
  }
  .todo-step-box {
    border: 1px solid $border-gray;
    border-top: none;
    input {
      width: 100%;
      border: none;
      height: 1.8rem;
      font-size: 0.9rem;
      outline: none;
    }
    .step-list {
      background: white;
      .input-wrap {
        padding: 0.5em 1em;
        display: flex;
        input {
          padding-left: 0.5em;
          &.check {
            color: $font-gray;
            text-decoration: line-through;
          }
        }
        .uncheck-icon svg {
          width: 20px;
        }
        .oncheck-icon svg {
          width: 20px;
        }
        .close-icon svg {
          width: 10px;
        }
      }
    }
    .add-step {
      .step-form {
        padding: 0.5em 1em;
        background: white;
      }
    }
  }
}

// todo-form
.add-todo {
  background-color: $bg-rightGray;
  padding: 1em;
  border-radius: 4px;
  border: 1px solid $border-gray;
  .todo-form {
    display: flex;
    input {
      flex: 1 1;
      font-size: 0.9rem;
      padding: 0.7em;
      border: 0;
      border-radius: 2px;
    }
    button {
      width: 10%;
      text-align: center;
      background-color: #fafafa;
      color: $d-gray;
      border: 1px solid $border-gray;
      margin-left: 1em;
      font-size: 0.9rem;
    }
  }
  .due-date {
    margin-top: 0.8em;
    .date {
      font-size: 0.9rem;
      span {
        font-size: 0.8rem;
        padding: 0.5em;
        border-radius: 3px;
        color: #606060;
        display: inline-block;
        cursor: pointer;
        &:hover {
          background-color: #e7e7e7;
        }
      }
    }
  }
}
.finished {
  .todo-list {
    .todo-name {
      color: #9b9b9b;
      text-decoration: line-through;
    }
  }
}

// todo-list
.todo-list {
  li {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    padding: 15px;
    border {
      bottom: 1px solid $border-gray;
      top: 1px solid #fff;
    }
    .left {
      display: flex;
    }
    .simple-info {
      display: flex;
      flex-direction: column;
      margin-left: 0.6em;
      .todo-name {
        line-height: 1.6rem;
        // pointer-events: inherit;
      }
      .due-date {
        margin-top: 0.2em;
        font-size: 0.8rem;
        color: $font-gray;
        &.over-due {
          color: red;
        }
        &.today {
          color: #3849f5;
        }
      }
    }
    &.selected {
      background-color: #789eff26;
      border-radius: 5px;
    }
    &.bottom {
      border-bottom: 2px solid #3844bd;
    }
    &.top {
      border-top: 2px solid #3844bd;
    }
  }
}

/* icon */
i {
  display: flex;
  align-items: center;
}
.uncheck-icon svg {
  width: 25px;
  fill: #3844bd;
}
.oncheck-icon svg {
  width: 25px;
  fill: #3844bd;
}
.close-icon svg {
  width: 15px;
  fill: $d-gray;
}
