// Variables
$font-gray: #9b9b9b;
$font-red: #e90000;
$border-gray: #ededed;
$d-gray: #606060;
$bg-rightGray: #f7f7f7;
$nomal-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
$light-shadow: 1px 1px 5px -2px rgba(0, 0, 0, 0.2);
$main-color-d: #3844bd;
$font-black: #222222;
