.todo-container {
  width: 100%;
  padding: 5%;
}

.title {
  font-size: 2rem;
}

.todo-form {
  display: flex;
  background-color: #f3f3f3;
  padding: 1em;
  border-radius: 4px;
  border: 1px solid #ededed;
}
.todo-form input {
  flex: 1 1;
  font-size: 0.9rem;
  padding: 0.7em;
  border: 0;
  background-color: #fafafa;
  border-radius: 2px;
}

.todo-form button {
  width: 10%;
  background-color: #fafafa;
  border: 1px solid #ededed;
  margin-left: 1em;
}

.todo-list li {
  font-size: 1rem;
  padding: 15px;
  border-bottom: 1px solid #ededed;
}
.todo-list li {
  display: flex;
  justify-content: space-between;
}

.todo-list li > .left {
  display: flex;
}

.todo-list .todo-name {
  margin-left: 0.6em;
}

.check-icon {
}
