@import "../variable";

.login__wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login__box {
  margin-top: 10em;
  border: 1px solid $border-gray;
  border-radius: 10px;
  padding: 3em 2em;
  width: 350px;
  box-shadow: $light-shadow;

  h1 {
    text-align: center;
  }
  .login-form {
    margin-top: 2em;
    input {
      display: block;
      width: 100%;
      padding: 1em;
      margin-top: 1em;
      border-bottom: 1px solid $border-gray;
    }
    input:focus {
      border-bottom: 2px solid $border-gray;
    }
    .login-form__error {
      font-size: 0.8rem;
    }
    button {
      background-color: #3844bd;
      cursor: pointer;
      color: white;
      padding: 0.5em;
      width: 100%;
      text-align: center;
      font-size: 0.9rem;
      border-radius: 2em;
      margin-top: 1em;
      &:hover {
        opacity: 0.9;
      }
    }
  }
}

.signup-area {
  font-size: 0.9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  a {
    color: #3844bd;
    &:hover {
      opacity: 0.9;
    }
  }
}

.social-login {
  margin-top: 1.5em;

  .social-login__title {
    text-align: center;
    font-size: 0.9rem;
    color: $font-black;
  }
  .social-login__button-wrap {
    display: flex;
    justify-content: center;
  }
  button {
    background-color: white;
    display: block;
    color: white;
    font-size: 20px;
    padding: 0.4em;
    border-radius: 50%;
    margin: 0 0.1em;
    cursor: pointer;
    span {
      display: block;
    }
  }
  .social-login__google {
    background-color: #df4930;
    &:hover {
      opacity: 0.9;
    }
  }
  .social-login__github {
    background-color: #282828;
    &:hover {
      opacity: 0.9;
    }
  }
}
