@import "./components/variable";

* {
  box-sizing: border-box;
}

li {
  list-style: none;
}

ul {
  padding: 0;
}
h1,
h2,
h3 {
  margin: 0;
}

button {
  all: unset;
  box-sizing: border-box;
}

html {
  height: 100%;
}
body {
  height: 100%;
}

#root {
  height: 100%;
}

.container {
  height: 100%;
}

i.arr-icon .svg {
  width: 20px;
  height: 20px;
}
i.arr-icon.next {
  transform: rotate(180deg);
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  outline: 0;
}
a {
  text-decoration: none;
  color: $font-black;
}
